.accordion-item {
    border-top: 1px solid #dee2e6 !important;
}

.accordion-item .accordion-button {
    border-radius: 20px !important;
    padding: 1.5rem;
}

.accordion-button::after {
    transform: rotate(-90deg);
}

.accordion-button {
    background-color: #fff !important;
    box-shadow: none !important;
}

.accordion-button:focus,
.accordion-button:not(.collapsed) {
    background-color: #fff !important;
    box-shadow: none !important;
}

/* Because the breakpoint didn't work */
@media screen and (max-width:992px) {
    .w-75.w-small {
        width: 100% !important;
    }
}